@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  background: #fff;
  color: #333333;
}

a,
a:hover {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

p {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

label {
  margin-bottom: 0;
}

::selection {
  color: white;
  background: #ff7675;
}

::-webkit-selection {
  color: white;
  background: #ff7675;
}

::-moz-selection {
  color: white;
  background: #ff7675;
}

.scrolltotop {
  width: 40px;
  height: 40px;
  border-radius: 20px 20px 0 0;
  background: rgba(0, 0, 0, 0.5);
  display: block;
  text-align: center;
  padding-top: 8px;
  font-size: 22px;
  color: #ffffff;
  position: fixed;
  right: 5px;
  bottom: 5px;
  display: none;
  transition: 0.2s all ease;
  -webkit-transition: 0.2s all ease;
  -moz-transition: 0.2s all ease;
}

.scrolltotop:hover {
  background: #000;
  color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

/* -- header area start -- */
header {
  background-color: #83c980;
  padding: 25px 0px;
}

.header_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo a img {
  display: block;
  width: 180px;
}

.menu_item ul {
  display: flex;
  align-items: center;
  column-gap: 40px;
}

.menu_item ul li a {
  display: inline-block;
  font-size: 16px;
  color: #333;
  transition: all 0.2s ease;
}

.menu_item ul li a:hover {
  font-weight: 700;
  color: #000;
}

.menu_right ul li {
  display: inline-block;
}

.menu_right ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: #28a745;
  border-radius: 8px;
  color: #fff;
  font-size: 25px;
  margin-left: 10px;
  transition: all 0.2s ease;
  position: relative;
}

.menu_right ul li a:hover {
  opacity: 0.7;
}

.menu_right ul li a span {
  position: absolute;
  font-size: 13px;
  color: #fff;
  background-color: #ff1200;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  line-height: 0.8;
  top: 3px;
  right: 5px;
}

.menu_item ul li.active a {
  font-weight: 700;
  color: #000;
}

.menu_item ul li a span {
  display: inline-block;
  margin-left: 6px;
}

.menu_item ul li {
  position: relative;
}

.menu_item ul li ul {
  position: absolute;
  left: -8px;
  top: 30px;
  display: block;
  padding: 20px;
  background: #83c980;
  border-radius: 5px;
  width: 230px;
  transform: scaleY(0);
  transform-origin: top;
  transition: all 0.3s ease;
}

.menu_item ul li ul li {
  display: block;
}

.openDrop {
  transform: scale(1) !important;
}

.bar {
  cursor: pointer;
  width: 32px;
}

.bar span {
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 12px;
  background-color: #fff;
  transition: all 0.3s ease;
}

.bar span:nth-child(2) {
  margin: 8px 0px;
}

.collapse_bar span:nth-child(2) {
  transform: scaleX(0);
}

.collapse_bar span:nth-child(1) {
  transform: rotate(45deg);
  position: relative;
  top: 9px;
  left: 6px;
}

.collapse_bar span:nth-child(3) {
  transform: rotate(-45deg);
  top: -15px;
  position: relative;
  left: 6px;
}

.openMenu {
  left: 0 !important;
}

.overflow {
  overflow: hidden;
}
/* -- header area end -- */

/* -- hero area start -- */
#hero {
  background-color: #83c980;
}

.hero_heading h2 {
  font-size: 40px;
  font-weight: 700;
  color: #000;
}

.hero_heading p {
  font-size: 28px;
  font-weight: 500;
  margin-top: 12px;
}

.hero_search_input {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 16px;
}

.hero_submit_wrapper {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.hero_input {
  width: 100%;
}

.hero_input input {
  display: block;
  width: 100%;
  font-size: 18px;
  color: #333;
  border: 0;
  outline: none;
  font-weight: 500;
  padding: 5px 15px;
}

.hero_input input::placeholder {
  opacity: 1;
  color: #333;
}

.hero_select select {
  display: block;
  width: 230px;
  background: transparent;
  border: 0;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.hero_select {
  padding-left: 20px;
  border-left: 2px solid #333;
}

.submit_btn button {
  display: inline-block;
  border: 0;
  outline: none;
  width: 60px;
  height: 60px;
  background-color: #28a745;
  border-radius: 12px;
  color: #fff;
  font-size: 28px;
  transition: all 0.2s ease;
}

.submit_btn button:hover {
  opacity: 0.7;
}

.hero_search {
  margin-top: 60px;
  padding: 0px 120px;
}

.popular_search {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 15px;
}

.popular_search p {
  font-size: 18px;
  font-weight: 500;
}

.popular_search ul li {
  display: inline-block;
}

.popular_search ul li a {
  display: inline-block;
  font-size: 16px;
  color: #333;
  background-color: #fff;
  border-radius: 5px;
  padding: 5px 20px;
  margin-left: 10px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
}

.popular_search {
  margin-top: 30px;
}

.hero_wrapper {
  padding-top: 75px;
  padding-bottom: 100px;
  border-bottom: 1px solid #333;
}
/* -- hero area end -- */

/* -- hero_slider area start -- */
#hero_slider {
  background-color: #83c980;
  padding: 50px 0px;
}

.swipper_cnt img {
  display: block;
  max-width: 100px;
  margin: auto;
  min-width: 40px;
}

.swipper_cnt p {
  font-size: 16px;
  font-weight: 500;
  margin-top: 10px;
  text-align: center;
}

.spimg {
  min-height: 36px;
}

.hero_slider_wrapper {
  padding: 0px 80px;
}

.sp_prev,
.sp_next {
  width: 40px;
  height: 40px;
  border: 2px solid #333;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
  position: absolute;
  left: 0px;
  top: 24%;
}

.sp_prev:hover,
.sp_next:hover {
  border-color: #fff;
  background-color: #ffff;
}

.hero_slider_wrapper {
  position: relative;
}

.sp_next {
  right: 0px;
  top: 24%;
  left: inherit;
}

/* -- hero_slider area end -- */

/* -- offer area start -- */
#offer {
  background-color: #3b5b39;
  padding: 30px 0px;
}

.offer_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.offer_wrapper p {
  font-size: 26px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
}

a.buy_link {
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  text-transform: capitalize;
  color: #fff;
  background-color: #28a745;
  border-radius: 6px;
  padding: 12px 20px;
}

a.buy_link i {
  display: inline-block;
  margin-left: 10px;
  transition: all 0.2s ease;
}

a.buy_link:hover i {
  transform: translate(8px);
}
/* -- offer area end -- */

/* -- feature area start -- */
#feature {
  background-color: #83c980;
  padding: 30px 0px;
}

.feature_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.feature_item {
  display: flex;
  align-items: center;
  gap: 25px;
  position: relative;
}

.feature_item:after {
  content: "";
  display: block;
  width: 2px;
  height: 100%;
  background-color: #333;
  position: absolute;
  right: -65px;
  top: 0;
}

.feature_left img {
  display: inline-block;
  min-width: 60px;
  max-width: 120px;
}

.numscroller {
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
  font-weight: 600;
  color: #000;
  position: relative;
}

.numscroller:after {
  content: "+";
}

.feature_right p {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  text-transform: capitalize;
  font-weight: 500;
}

.feature_right h5 {
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
  font-weight: 600;
  color: #000;
}

.fealast_item:after {
  content: none;
}
/* -- feature area end -- */

/* -- deal area start -- */
.deal_heading h3 {
  font-size: 40px;
  font-weight: 700;
  color: #000;
  text-transform: capitalize;
}

.deal_heading p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin-top: 30px;
}

.best_deal_block {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  margin-top: 40px;
}

.best_deal_item {
  border: 1px solid #cccbcb;
  border-radius: 20px;
  padding: 15px;
}

.best_deal_item_img img {
  display: block;
  max-width: 100%;
  margin: auto;
  min-width: 60%;
}

.best_deal_item_img {
  height: 285px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.best_deal_cnt_left h5 {
  font-size: 18px;
  color: #000;
  font-weight: 600;
}

.bdreating {
  display: flex;
  gap: 10px;
}

.bdreating p {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
}

.bdreating ul li {
  display: inline-block;
  font-size: 10px;
  color: #f79800;
  top: -5px;
  position: relative;
}

.best_deal_cnt_left {
  margin-top: 15px;
}

.best_deal_cnt {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.best_deal_cnt_link ul li {
  display: inline-block;
}

.best_deal_cnt_link ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  background-color: #ddd;
  border-radius: 50%;
  font-size: 18px;
  color: #000;
  transition: all 0.2s ease;
}

.best_deal_cnt_link ul li a:hover {
  background-color: #28a745;
  color: #fff;
}

.best_deal_cnt_link ul li:last-child a {
  background-color: #28a745;
  color: #fff;
}

.best_deal_cnt_link ul li:last-child a:hover {
  opacity: 0.7;
}

#deal {
  padding: 65px 0px;
}
/* -- deal area end -- */

/* -- today area start -- */
#today {
  background-color: #83c980;
  padding: 50px 0px;
}

.today_wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 120px;
  align-items: center;
}

.today_left_heading h5 {
  font-size: 22px;
  font-weight: 500;
}

.today_left_heading h2 {
  font-size: 35px;
  font-weight: 700;
  color: #000;
  line-height: 1.5;
  margin-top: 8px;
}

.today_cnt p {
  margin: 30px 0px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.today_cnt_timer {
  font-family: "Montserrat", sans-serif;
}

.countdown-container ul li {
  text-align: center;
  display: inline-block;
  font-weight: 500;
  margin-right: 30px;
}

.countdown-container ul li span {
  display: block;
  text-align: center;
  width: 75px;
  height: 60px;
  border-radius: 4px;
  background-color: #fff;
  font-weight: 600;
  padding: 18px 0px;
  margin-bottom: 8px;
}

.today_link {
  background-color: #385736 !important;
  margin-top: 40px;
}

.today_right img {
  display: block;
  width: 100%;
}

.offer_bannar {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 25px;
  gap: 25px;
}

.offer_bannar img {
  display: block;
  width: 100%;
}

.offter_right {
  position: relative;
}

.offer_right_cnt {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: "Montserrat", sans-serif;
  width: 100%;
  padding-left: 35px;
}

.offer_right_cnt p {
  font-size: 35px;
  font-weight: 700;
  color: #fff;
}

.offer_right_cnt p span {
  font-size: 25px;
}

.offer_right_cnt h6 {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
}

.offer_right_cnt a {
  display: inline-block;
  background-color: #298500;
  border-radius: 8px;
  color: #fff;
  padding: 10px 25px;
  font-weight: 600;
  margin-top: 30px;
  transition: all 0.2s ease;
}

.offer_right_cnt a:hover {
  opacity: 0.7;
}
/* -- today area end -- */

/* -- trusted area start -- */
#trusted {
  background-color: #3b5b39;
  padding: 35px 0px;
  padding-bottom: 35px;
}

.trusted_wrapper h4 {
  font-size: 28px;
  color: #fff;
  font-weight: 600;
}

.trusted_block_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.timg {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timg img {
  max-width: 100%;
  max-width: 100%;
  object-fit: cover;
}

/* -- trusted area end -- */
